################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cpp/.vs/cpp
/cpp/x64/Debug
